<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    {% block scripts %}{% endblock %}
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.home') }}">{{ gettext('Home') }}</a></li>
                <li><a href="{{ url_for('routes.dictionary') }}">{{ gettext('Dictionary') }}</a></li>
                <li>
                    <a href="{{ url_for('routes.switch_language', lang_code='en') }}">{{ gettext('English') }}</a>
                    <a href="{{ url_for('routes.switch_language', lang_code='ru') }}">{{ gettext('Русский') }}</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('routes.profile') }}">{{ gettext('Profile') }}</a></li>
                    <li><a href="{{ url_for('routes.choose_lesson') }}">{{ gettext('Choose lesson') }}</a></li>
                    <li><a href="{{ url_for('routes.logout') }}">{{ gettext('Logout') }}</a></li> 
                    {% if current_user.role == "admin" %}
                    <h2>{{ gettext('Admin actions!') }}</h2>
                    {% for entity in [gettext('User'), gettext('Lesson'), gettext('Exercise'), gettext('Word')] %}
                    <li><a href="{{ url_for(entity.lower() + '_routes.' + entity.lower() + 's') }}">{{ gettext('Manage') }} {{ entity }}s</a>
                    <a href="{{ url_for(entity.lower() + '_routes.create_' + entity.lower()) }}">{{ gettext('Create') }} {{ entity }}</a></li>{% endfor %}
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('routes.signup') }}">{{ gettext('Sign up') }}</a></li>
                    <li><a href="{{ url_for('routes.login') }}">{{ gettext('Log in') }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
