<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('routes.home') }}">Home2</a></li>
                    <!-- <li><a href="{{ url_for('routes.profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('routes.logout') }}">Logout</a></li> -->
                {% else %}
                    <li><a href="{{ url_for('routes.signup') }}">Sign up</a></li>
                    <li><a href="{{ url_for('routes.login') }}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
