{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Create {{ entity_name }}</h2>
        <form method="POST" action="{{ url_for(entity_name.lower() + '_routes.create_' + entity_name.lower()) }}">
          {% for column in columns %}{% if column != 'id' %}<label for="{{ column }}">{% for c in column.split('_') %}{{ c[0].upper() }}{{ c[1:].lower()}} {% endfor %}:</label>
          <input type="text" id="{{ column }}" name="{{ column }}" required><br>{% endif %}{% endfor %}
          <label for="tags">Tags :</label>
          <input type="text" id="tags" name="tags" required><br>
          <input type="submit" value="Create {{ entity_name }}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
