{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Edit {{ entity_name }}</h2>
      <form method="POST">
        {% for column in columns %}{% if column not in ['id', 'exercise_ids'] %}<div class="form-group">
          <label for="{{ column }}">{% for c in column.split('_') %}{{ c[0].upper() }}{{ c[1:].lower()}} {% endfor %}:</label>
          <textarea class="form-control" id="{{ column }}" name="{{ column }}">{{ entity[column] if column not in ['password']}}</textarea>
        </div>{% endif %}{% endfor %}

        <div class="form-group">
          <label for="tags">Tags (comma-separated)</label>
          <input class="form-control" id="tags" name="tags" value="{{ entity['tags'] }}">
        </div>
        {% if entity_name == 'Lesson' %}
          {% set main_route = url_for('lesson_routes.edit_lesson', id = entity.id) %}
          {% include 'search_tags_subwindow.html' %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
